<mat-card-content>
    <mat-grid-list>
        <mat-list-item *ngFor="let VALUE of EnginTh_dataSource;let i = index ">
            <mat-card class="example-form">
                <div>
                    <a>{{VALUE.word}} </a>
                </div>
                <br>
                <mat-chip-list #chipList aria-label="Thaiword selection">
                    <mat-chip  *ngFor="let SYNONYMS of VALUE.thais"
                               [selectable]="selectable"
                               [removable]="removable"
                               (removed)="remove(Thaiword)">
                               {{SYNONYMS.word}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <mat-chip>
                        <input  placeholder="Add Word"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event,VALUE.id,i)">
                    </mat-chip>
                </mat-chip-list>
            </mat-card>
        </mat-list-item>
    </mat-grid-list>
    <br><br>
</mat-card-content>